<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome/css/font-awesome.min.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/hamburgers.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" data-noprefix />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400|Ubuntu+Mono:400,700" />
  <script type="text/javascript" src="{{asset "js/require.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/main.js"}}"></script>

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49523683-1', 'blakepetersen.io');
    ga('send', 'pageview');
  </script>
</head>
<body class="{{body_class}} nav-closed">

{{navigation}}

<div class="site-wrapper">

  {{! Everything else gets inserted here }}
  {{{body}}}

  <footer class="site-footer">
    <div class="inner">
      <section class="copyright"><a href="{{@blog.url}}/">{{@blog.title}}</a> &bull; {{date format="YYYY"}}</section>
      <section class="powered-by">Proudly published with <a class="icon-ghost" href="https://ghost.org">Ghost</a> &bull; Header awesomeness powered by <a  class="trianglify" href="http://qrohlf.com/trianglify/">Trianglify</a></section>
      <section class="employer">The views expressed here are my own and do not, in any way, represent the views of my clients or employers.</section>
    </div>
  </footer>

</div>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

</body>
</html>
