{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">

  <div class="trianglify"></div>

  <nav class="main-nav overlay clearfix">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
    {{#if @blog.navigation}}
      <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    {{/if}}
  </nav>
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">{{@blog.title}}</h1>
      <!--<h2 class="page-description">{{@blog.description}}</h2>-->
      <div class="social-container">
        <a class="twitter" href="https://twitter.com/Blake_Petersen"><span class="tooltip">@Blake_Petersen</span><i class="fa fa-twitter"></i></a>
        <a class="github" href="https://github.com/BlakePetersen"><span class="tooltip">Github</span><i class="fa fa-github"></i></a>
        <a class="stack-overflow" href="http://stackoverflow.com/users/2510949/blakepetersen"><span class="tooltip">Stack&nbsp;Overflow</span><i class="fa fa-stack-overflow"></i></a>
        <a class="bitbucket" href="https://bitbucket.org/BlakePetersen"> <span class="tooltip">Bitbucket</span><i class="fa fa-bitbucket"></i></a>
      </div>
    </div>
  </div>
</header>

<div class="tweet-container stashed">
  <div class="follow-me center"><a href="https://twitter.com/Blake_Petersen"><i class="fa fa-twitter"></i> Follow Me -- @Blake_Petersen</a></div>
  <div id="tweet"><i class="fa fa-circle-o-notch fa-spin"></i> Loading Latest Tweet...</div>
</div>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "loop"}}

</main>
