{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}
  <header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <div class="trianglify"></div>

    <nav class="main-nav overlay clearfix">
      {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
      {{#if @blog.navigation}}
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
      {{/if}}
    </nav>

    <div class="inner">
      <a class="blog-logo" href="{{@blog.url}}">
        <span class="blog-title">{{@blog.title}}</span>
      </a>

      <h1 class="post-title">{{{title}}}</h1>
    </div>
  </header>

  <main class="content" role="main">
    <article class="{{post_class}}">

      <section class="post-content">
        {{content}}
      </section>

    </article>
  </main>
{{/post}}
