{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
  <header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <div class="trianglify"></div>

    <nav class="main-nav overlay clearfix">
      {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
      {{#if @blog.navigation}}
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
      {{/if}}
    </nav>

    <div class="inner">
      <a class="blog-logo" href="{{@blog.url}}">
        <span class="blog-title">{{@blog.title}}</span>
      </a>

      <h1 class="post-title">{{{title}}}</h1>
      <span class="post-meta"><time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> {{tags prefix="&nbsp; &mdash; &nbsp; " separator=", "}}</span>
    </div>
  </header>

  <main class="content" role="main">
    <article class="{{post_class}}">

      <section class="post-content">
        {{content}}
      </section>

      <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

          {{#if image}}
            <figure class="author-image">
              <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
          {{/if}}

          <section class="author">
            <h4><a href="{{url}}">{{name}}</a></h4>

            {{#if bio}}
              <p>{{bio}}</p>
            {{else}}
              <p>Read <a href="{{url}}">more posts</a> by this author.</p>
            {{/if}}
            <div class="author-meta">
              {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
              {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
            </div>
          </section>

        {{/author}}

        <section class="share">
          <h4>Share this post</h4>
          <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
             onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <span class="hidden">Twitter</span>
          </a>
          <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
             onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <span class="hidden">Facebook</span>
          </a>
          <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
             onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <span class="hidden">Google+</span>
          </a>
        </section>

      </footer>

      <aside class="read-next">
        {{#next_post}}
          <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
              <h2>{{title}}</h2>
              <p>{{excerpt words="19"}}&hellip;</p>
            </section>
          </a>
        {{/next_post}}
        {{#prev_post}}
          <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
            <section class="post">
              <h2>{{title}}</h2>
              <p>{{excerpt words="19"}}&hellip;</p>
            </section>
          </a>
        {{/prev_post}}
      </aside>

      <div id="disqus_thread"></div>

    </article>

  </main>

{{/post}}

<script>
  requirejs([
    'comments',
  ], function(comments){
    comments.initialize('{{post.url}}', '{{post.id}}');
  });
</script>

<script type="text/javascript" src="{{asset "js/lib/prism.min.js"}}"></script>
